# PostgreSQL settings
POSTGRES_USER=project
POSTGRES_PASSWORD=project
PGDATA=/var/lib/postgresql/data/pgdata

# MySQL settings
MYSQL_ROOT_PASSWORD=project
MYSQL_DATABASE=project
MYSQL_USER=project
MYSQL_PASSWORD=project

# phpMyAdmin settings
PMA_ARBITRARY=1
PMA_HOST=mysql
PMA_PORT=3306
PMA_USER=project
PMA_PASSWORD=project

#Apache
APACHE_RUN_USER=apache2
APACHE_RUN_GROUP=apache2

#Apache
APACHE_RUN_DIR=/project
APACHE_RUN_USER=server
APACHE_RUN_GROUP=server

# Application
APPLICATION_USER=1000
APPLICATION_GROUP=1000
APPLICATION_USER_NAME=server
APPLICATION_GROUP_NAME=server
APPLICATION_RUN_DIR=/project
WEB_DOCUMENT_ROOT=/project/public
WEB_ALIAS_DOMAIN=project.loc
APPLICATION_CACHE=/project/cache
APPLICATION_LOGS=/project/logs
# prod | dev | stage | test
APPLICATION_ENV=dev

# Debug
# Note: For debugging purposes you have to setup Xdebug by passing required parameters
PHP_DEBUGGER=xdebug

# Please provide your host (local machine IP) instead of 192.168.1.129
XDEBUG_REMOTE_HOST=192.168.1.129

# php.ini value for xdebug.remote_port
XDEBUG_REMOTE_PORT=9001

# php.ini value for xdebug.remote_autostart
# XDEBUG_REMOTE_AUTOSTART=0

# php.ini value for xdebug.remote_connect_back
XDEBUG_REMOTE_CONNECT_BACK=0
